:root {
  --clr-primary: #5ce4ca;
  --clr-secondary: #fffaa4;
  --clr-secondary-light: #fffae9;
  --clr-light-secondary: #fffae9;
  --clr-tertiary: #ff7d7d;
  --clr-black: #003d31;
  --clr-white: #ffffff;
  --clr-paragraph: #596966;

  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-22: 1.375rem;
  --fs-46: 2.875rem;
  --fs-36: 2.25rem;
  --fs-72: 4.5rem;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --ff-primary: 'Neue Montreal', sans-serif;

  --ff-body: var(--ff-primary);

  --fs-body: var(--fw-regular);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-black);
}

.primary-header {
  position: relative;
  background-color: var(--clr-primary);
  min-height: 736px;
  background-image: url('images/image\ 17.png');
  background-repeat: no-repeat;
}
.world-svg {
  position: absolute;
  top: 170px;
  left: 203px;
  width: 144px;
  height: 144px;
}

.smily-svg {
  position: absolute;
  top: 313px;
  right: 82.84px;
  width: 140px;
  height: 180px;
}

.alphabet-svg {
  position: absolute;
  bottom: 90px;
  left: 190px;
  width: 68px;
  height: 70px;
}

.alphabet1-svg {
  position: absolute;
  bottom: 58px;
  right: 237px;
  width: 68px;
  height: 70px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 135px;
}

.nav-list {
  display: flex;
  gap: 2rem;
  font-weight: var(--fw-semi-bold);
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-black);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-primary);
}

.login-buttons {
  display: flex;
  gap: 10px;
}

.login-buttons .login {
  border: 1px solid var(--clr-black);
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 24px;
}

.login-buttons .signup {
  border: 1px solid var(--clr-black);
  background-color: var(--clr-black);
  color: var(--clr-white);
  border-radius: 4px;
  padding: 8px 24px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.hero-section h3 {
  border-radius: 22px;
  background-color: var(--clr-white);
  font-size: var(--fs-72);
  font-weight: var(--fw-semi-bold);
  padding: 8px 38px;
}

.hero-section .language-heading {
  background-color: var(--clr-secondary);
  font-weight: var(--fw-bold);
}

.hero-flex-heading {
  display: flex;
  gap: 1rem;
}

.hero-section p {
  font-size: var(--fs-18);
  line-height: 28px;
  font-weight: var(--fw-regular);
  color: var(--clr-black);
  max-width: 726px;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hero-buttons > .dropdown,
.button {
  border: none;
  border-radius: 6px;
  font-size: var(--fs-18);
  line-height: 28px;
  padding: 15px 35px;
}

.dropdown-container {
  position: relative; /* This ensures the dropdown appears relative to this container */
}

.hero-buttons .dropdown {
  position: relative;
  /* border: 1px solid var(--clr-black); */
  border-radius: 6px;
  background-color: var(--clr-white);

  font-size: var(--fs-18);
  line-height: 28px;
  padding: 15px 30px;
  width: 100%; /* Set width to ensure consistent dropdown alignment */
  cursor: pointer;
  appearance: none; /* Remove default browser styles if needed */
}

.hero-buttons .dropdown {
  background-color: var(--clr-white);
}

.hero-buttons .button {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

/* Intro and learning Section */

.intro {
  display: flex;
  /* width: 1170px; */
  height: 423px;
  padding: 135px;
  /* background-color: #596966; */
  justify-content: space-between;
}

.intro img {
  width: 470px;
  height: 423px;
}

.intro .dialect-lady-svg {
  width: 470px;
  height: 379px;
}

.intro .intro-text {
  display: grid;
  gap: 2rem;
  padding: 3rem;
}

.intro .intro-text .learning-button {
  margin-top: 20px;
  max-width: 182px;
  text-wrap: nowrap;
  background-color: var(--clr-secondary);
}

.intro .intro-text h4 {
  font-size: var(--fs-46);
  line-height: 52px;
  font-weight: var(--fw-bold);
  color: var(--clr-black);
}

.intro .intro-text h4 span {
  color: var(--clr-primary);
}

.intro .intro-text p {
  color: var(--clr-paragraph);
  font-size: var(--fs-18);
  font-weight: var(--fw-regular);
}

/* Learning Categories */

.learning-categories {
  display: grid;
  gap: 5rem;
  padding: 135px;
  height: 622px;
  margin-top: 5rem;
}

.learning-categories h3 {
  justify-self: center;
  font-size: var(--fs-46);
  line-height: 52px;
  font-weight: var(--fw-bold);
  color: var(--clr-black);
  text-align: center;
  width: 570px;
}

.learning-categories span {
  color: var(--clr-primary);
}

.learning-categories .categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.learning-categories .categories .category {
  display: grid;
  gap: 1rem;
  width: 370px;
  border-radius: 12px;
  padding: 1rem;
  background-color: var(--clr-secondary-light);
}

.learning-categories .categories .category p {
  font-size: var(--fs-18);
  font-weight: var(--fw-regular);
  line-height: 28px;
  color: var(--clr-paragraph);
}

.learning-categories .categories .category b {
  font-weight: var(--fw-bold);
}

.categories .category .category-globe-svg {
  width: 56px;
  height: 56px;
}

.categories .category .category-card-svg {
  width: 109px;
  height: 56px;
}

.categories .category .category-book-svg {
  width: 75px;
  height: 56px;
}

.categories .category .category-brick-svg {
  width: 57px;
  height: 56px;
}

.categories .category .category-list-svg {
  width: 41px;
  height: 56px;
}

.categories .category .category-watch-svg {
  width: 50px;
  height: 56px;
}

/* STATS SECTION */

.stats {
  display: flex;
  flex-wrap: wrap;
  height: 246px;
  background-color: var(--clr-tertiary);
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 15rem;
}

.stats p {
  font-size: var(--fs-36);
  text-wrap: nowrap;
  font-weight: var(--fw-bold);
}

.stats img {
  width: 34px;
  height: 35px;
  fill: #5ce4ca;
}

/* Testimonial Section */
.testimonial {
  display: grid;
  background-color: var(--clr-light-secondary);
  /* height: 841px; */
  gap: 2rem;
  padding: 135px;
}

.testimonial .titles {
  justify-self: center;
  color: var(--clr-black);
  text-align: center;
  width: 570px;
}

.testimonial .titles h3 {
  font-size: var(--fs-46);
  line-height: 52px;
  font-weight: var(--fw-bold);
}

.testimonial .titles h3 span {
  color: var(--clr-primary);
}

.testimonial .titles p {
  font-size: var(--fs-18);
  font-weight: var(--fw-regular);
  color: var(--clr-paragraph);
  margin-top: 10px;
}

.testimonial .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 1rem;
}

.testimonial .cards .card {
  display: grid;
  background-color: var(--clr-white);
  min-width: 370px;
  min-height: 384px;
  padding: 30px 20px;
  border-radius: 12px;
  /* gap: 1rem; */
}

.testimonial .cards .card .card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial .cards .card .card-titles h4 {
  font-size: var(--fs-18);
  font-weight: var(--fw-bold);
}

.testimonial .cards .card .card-titles p {
  font-size: 14px;
  font-weight: var(--fw-regular);
  color: var(--clr-paragraph);
}

.testimonial .cards .card .card-body p {
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  color: var(--clr-paragraph);
}

.testimonial .cards .card .card-footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.testimonial .cards .card .card-footer img {
  width: 28px;
  height: 28px;
}

.testimonial .cards .card .card-footer hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #dee5e4;
  margin: 0;
}

/* Subscription section */
.subscription {
  /* height: 388px; */
  background-color: var(--clr-primary);
  padding: 100px 135px;
  display: flex;
  align-items: center;

  gap: 8rem;
}

.subscription .headings {
  display: grid;
  gap: 1rem;
}

.subscription .headings h3 {
  background-color: var(--clr-white);
  padding: 1rem;
  width: 373px;
  text-wrap: nowrap;
  border-radius: 12px;
  font-size: var(--fs-46);
  font-weight: var(--fw-semi-bold);
}

.subscription .headings h4 {
  background-color: var(--clr-secondary);
  padding: 1rem 38px;
  text-wrap: nowrap;
  border-radius: 12px;
  font-size: var(--fs-46);
  font-weight: var(--fw-bold);
}

.subscription .description {
  display: grid;
  gap: 2rem;
}

/* FAQS Section */
.faqs {
  display: grid;
  height: 350px;
  background-color: var(--clr-secondary-light);
  padding: 140px;
}

.faqs .titles {
  display: grid;
  justify-self: center;
  color: var(--clr-black);
  text-align: center;
  width: 570px;
  max-height: 200px;
  gap: 0.5rem;
}

.faqs .titles h3 {
  font-size: var(--fs-46);
  line-height: 52px;
  font-weight: var(--fw-bold);
}

.faqs .titles h3 span {
  color: var(--clr-primary);
}

.faqs .titles p {
  font-size: var(--fs-18);
  font-weight: var(--fw-regular);
  color: var(--clr-paragraph);
  margin-top: 10px;
}

.faqs .titles p a {
  font-size: var(--fs-18);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-black);
  margin-top: 10px;
}

/* Footer Section */
.footer {
  display: grid;
  background-color: var(--clr-secondary-light);
  padding: 2rem 307px;
}

.footer .quick-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-self: center;

  color: var(--clr-black);
  width: 825px;
}

.footer .quick-links .links {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /* align-items: center; */
  gap: 1rem;
}

.footer .quick-links h6 {
  font-size: var(--fs-22);
  font-weight: var(--fw-bold);
  line-height: 32px;
  margin-bottom: 1rem;
}

.footer .quick-links a {
  text-decoration: none;
  font-size: var(--fs-18);
  font-weight: var(--fw-regular);
  line-height: 28px;
  color: var(--clr-paragraph);
}

.footer hr {
  margin-top: 3rem;
}

.footer .copyrights {
  display: grid;
  gap: 1rem;
}

.copyrights h3 {
  margin-top: 2rem;
  font-size: var(--fs-22);
  font-weight: var(--fw-bold);
  color: var(--clr-black);
}

.copyrights .language {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.copyrights .language p {
  font-size: var(--fs-18);
  font-weight: var(--fw-regular);
  color: var(--clr-black);
}

.footer .media-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.footer .media-icons p {
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  color: var(--clr-black);
}

.footer .media-icons .icons {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1280px) {
  .footer {
    display: grid;
    background-color: var(--clr-secondary-light);
    padding: 2rem 100px;
  }

  .footer .quick-links {
    width: 925px;
  }

  .learning-categories {
    display: grid;
    /* gap: 5rem; */
    padding: 100px;
    justify-content: center;
  }

  .learning-categories .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .intro1 {
    padding: 250px 35px;
  }

  .testimonial .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1rem;
  }

  .subscription .headings h3 {
    width: 70%;
    font-size: var(--fs-36);
  }

  .subscription .headings h4 {
    padding: 0.5rem 28px;
    font-size: var(--fs-36);
  }

  .subscription .hero-buttons {
    display: grid;
  }

  .subscription {
    padding: 135px 20px;

    gap: 4rem;
  }
}
@media (max-width: 1220px) {
  .footer {
    padding: 2rem 1rem;
  }

  .world-svg {
    position: absolute;
    top: 170px;
    left: 100px;
    width: 144px;
    height: 144px;
  }

  .smily-svg {
    position: absolute;
    top: 313px;
    right: 10px;
    width: 140px;
    height: 180px;
  }

  .intro img {
    width: 300px;
    height: 300px;
  }

  .intro .dialect-lady-svg {
    width: 300px;
    height: 300px;
  }

  .intro .intro-text h4 {
    font-size: var(--fs-36);
    line-height: 52px;
    font-weight: var(--fw-bold);
    color: var(--clr-black);
  }

  .intro .intro-text p {
    color: var(--clr-paragraph);
    font-size: var(--fs-16);
    font-weight: var(--fw-regular);
  }

  .intro .intro-text {
    gap: 0rem;
  }
}

@media (max-width: 1024px) {
  .world-svg {
    position: absolute;
    top: 140px;
    left: 10px;
    width: 144px;
    height: 144px;
  }

  .smily-svg {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 140px;
    height: 180px;
  }

  .alphabet-svg {
    position: absolute;
    bottom: 50px;
    left: 80px;
    width: 68px;
    height: 70px;
  }

  .alphabet1-svg {
    position: absolute;
    bottom: 58px;
    right: 80px;
    width: 68px;
    height: 70px;
  }
}

@media (max-width: 970px) {
  .footer {
    padding: 2rem 1rem;
  }

  .footer .quick-links {
    width: 625px;
  }

  .faqs {
    padding: 120px 20px;
  }

  .faqs .titles h3 {
    font-size: var(--fs-36);
  }

  .testimonial .cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
  }

  .testimonial .cards .card {
    display: grid;
    background-color: var(--clr-white);
    min-width: 10%;
    /* min-height: 384px; */
    /* padding: 30px 20px;
    border-radius: 12px; */
  }

  .nav-list {
    display: grid;
    gap: 0rem;
    font-weight: var(--fw-semi-bold);
    list-style: none;
  }

  .intro img {
    width: 200px;
    height: 400px;
  }

  .intro .dialect-lady-svg {
    width: 200px;
    height: 300px;
  }

  .intro {
    padding: 35px;
  }

  .intro1 {
    padding: 200px 35px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 1rem 10px;
  }

  .footer .quick-links {
    grid-template-columns: repeat(2, 1fr);

    width: 325px;
  }

  .faqs {
    padding: 120px 10px;
  }

  .faqs .titles {
    text-align: center;
    text-wrap: wrap;
    width: 270px;
  }

  .faqs .titles p {
    font-size: var(--fs-18);
    text-wrap: wrap;
  }

  .faqs .titles h3 {
    font-size: var(--fs-22);
    text-wrap: wrap;
  }

  .subscription {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .subscription .hero-buttons {
    display: flex;
    justify-content: center;
  }

  .subscription .headings h4 {
    font-size: 28px;
    font-weight: var(--fw-bold);
  }

  .subscription .headings h3 {
    font-size: 28px;
  }

  .testimonial {
    padding: 135px 20px;
  }

  .testimonial .cards .card .card-header {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .testimonial .cards .card {
    display: grid;
    background-color: var(--clr-white);
  }

  .testimonial .titles {
    justify-self: center;
    color: var(--clr-black);
    text-align: center;
    width: 60%;
  }

  .world-svg {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 70px;
    height: 70px;
  }

  .smily-svg {
    position: absolute;
    top: 113px;
    right: 10px;
    width: 70px;
    height: 70px;
  }

  .hero-section {
    display: grid;
    padding: 1rem;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

  .header {
    padding: 5px;
  }

  .hero-section h3 {
    border-radius: 22px;
    background-color: var(--clr-white);
    font-size: var(--fs-22);
    font-weight: var(--fw-semi-bold);

    /* padding: 8px 38px; */
  }

  .hero-buttons .dropdown,
  .button {
    border: none;
    border-radius: 6px;
    font-size: var(--fs-16);
    line-height: 28px;
    padding: 8px 20px;
  }

  .login-buttons .login {
    padding: 4px 12px;
  }

  .login-buttons .signup {
    padding: 4px 12px;
  }

  .intro {
    display: grid;
    text-align: center;
    justify-items: center;
    padding: 0;
  }

  .intro1 {
    display: grid;
    text-align: center;
    justify-items: center;
    padding: 1000px 0px;
  }

  .learning-categories {
    display: grid;
    gap: 5rem;
    padding: 350px 20px;
    justify-items: center;
    /* height: 722px; */
  }

  .learning-categories .categories {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .learning-categories .categories .category {
    width: 100%;
  }

  .learning-categories h3 {
    justify-self: center;
    font-size: var(--fs-36);
    /* line-height: 52px; */
    font-weight: var(--fw-bold);
    color: var(--clr-black);
    text-align: center;
    width: 80%;
  }

  .stats {
    display: flex;
    flex-wrap: wrap;
    /* height: 296px; */
    background-color: var(--clr-tertiary);
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 0rem;
  }

  .stats p {
    font-size: 10%;
    text-wrap: nowrap;
    font-weight: var(--fw-bold);
  }
}
